<div id="<%= dom_id video_post %>">
  <iframe
    width="560"
    height="315"
    src="<%= video_post.video %>"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>

  <h2><%= video_post.title %></h2>
  <p><%= video_post.body %></p>
</div>
