<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment, pin: comment.pin %>

    <p>
      <%= link_to "Show this comment", [:admin, comment] %>
    </p>
  <% end %>
</div>
