<div>
  <iframe
    style="border: 1px solid rgba(0, 0, 0, 0.1);"
    width="800"
    height="450"
    src="https://www.figma.com/embed?embed_host=share&url=<%= figma_post.video %>"
    allowfullscreen>
  </iframe>
  <h2><%= figma_post.title %></h2>
  <p><%= figma_post.body %></p>
</div>