<div id="<%= dom_id comment %>">
  <p>
    <%= comment.body %>
  </p>

  <%= link_to "Edit this comment", edit_pin_comment_path(pin, comment) %>
  <%= button_to "Destroy this comment", [pin, comment], method: :delete %>
</div>
