<div id="<%= dom_id profile_picture %>">
  <p>
    <strong>Image:</strong>
    <%= profile_picture.image %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= profile_picture.profile_id %>
  </p>

</div>
