.S_Onboarding {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  .W_Content {
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    color: black;
    width: 700px;
    min-height: 200px;
  }
}
